/* MIXIN */
@mixin subtitulos {
    display: inline-block;
    color: white;
    text-shadow: $sombraTitulos;
    margin: 30px;
    padding: 10px;
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 5px;
    font-size: 20px;
}

@mixin buttonBlogs {
    display: block;
    text-align: center;
    border-color: #ff5858;
    background-color:#ff9898;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-shadow: $sombraPrincipal;
}

@mixin subtitulosDiv {
    display: block;
    margin: 10px; 
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    color: #fff;
    text-shadow: $sombraPrincipal;
}

@mixin divs {
    display: block;
    background-color: #ff5858;
    padding: 40px;
    text-align: center;
    border-radius: 4px;
    margin: 20px;
}

/* BLOGS MAIN */
main {
    h2.tituloBlogs {
        display: inline-block;
        position: absolute;
        color: white;
        text-shadow: $sombraTitulos;
        top: 50px;
        left: 40%;
        margin: 30px;
        padding: 10px;
        font-family: 'Lexend Peta', sans-serif;
        letter-spacing: 5px;
        font-size: 50px;
    }
    h2.subtituloBlogs-1 {
        @include subtitulos;
        position: absolute;
        top: 130px;
        left: 10%;
    }

    h3.subtituloBlogs-2 {
        @include subtitulos;
        position: absolute;
        top: 190px;
        left: 25%;
    }
    div.cards-blogs {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 15px;
        position: relative;
        top: 800px;
        div.spWiki {
            @include divs;
            h4 {
                @include subtitulosDiv;
            }
            button {
                @include buttonBlogs;
                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    padding: 10px;
                    text-shadow: $sombraPrincipal;
                    &:hover {
                        background-color: #ff6464;
                        border-color: #ff9494;
                    }
                    &:active {
                        padding: 0.2em;
                    }
                }
            }
        }
        div.spFacebook {
            @include divs;
            h4 {
                @include subtitulosDiv;
            }
            button {
                @include buttonBlogs;
                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    padding: 10px;
                    text-shadow: $sombraPrincipal;
                    &:hover {
                        background-color: #ff6464;
                        border-color: #ff9494;
                    }
                    &:active {
                        padding: 0.2em;
                    }
                }
            }
        }
        div.superHeroes {
            @include divs;
            h4 {
                @include subtitulosDiv;
            }
            button {
                @include buttonBlogs;
                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    padding: 10px;
                    text-shadow: $sombraPrincipal;
                    &:hover {
                        background-color: #ff6464;
                        border-color: #ff9494;
                    }
                    &:active {
                        padding: 0.2em;
                    }
                }
            }
        }
        div.enTumblr {
            @include divs;
            h4 {
                @include subtitulosDiv;
            }
            button {
                @include buttonBlogs;
                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    padding: 10px;
                    text-shadow: $sombraPrincipal;
                    &:hover {
                        background-color: #ff6464;
                        border-color: #ff9494;
                    }
                    &:active {
                        padding: 0.2em;
                    }
                }
            }
        }
    }
}