/* ESTILOS HEADER */
header.headerIndex{
    display: block;
    background-color: #ff5858;
    position: fixed;
    padding: 30px;
    top: 40;
    width: 100%;
    z-index: 1;
    nav{
        text-align: left;
        display:inline-block;
        width:60%;
        ul li{
            display: inline-block;
            a{
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 10px;
            font-weight: bold;
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 4px;
            text-shadow: $sombraPrincipal;
            &:hover{
                background-color: #facaca;
                border-color: #ff9898;
            }
            &:active{
                padding: 0.2em;
            }
            }
        }
    }
}