/* MARVEL MAIN */
/* MARVEL TITLE */
main {
    section {
        div {
            h1.h1Marvel {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                display: block;
                position: absolute;
                color: white;
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
                top: 50px;
                left: 10%;
                margin: 25px;
                padding: 10px;
                font-family: 'Lexend Peta', sans-serif;
                letter-spacing: 5px;
                font-size: 50px;
            }
        }
        div.containers__marvel--cards {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                margin: 15px;
                position: relative;
                top: 300px;
                div.historiaMarvel {
                    display: block;
                    background-color: #ff5858;
                    text-align: center;
                    width: 30rem;
                    border-radius: 5px;
                    margin: 20px;
                    padding: 20px;
                    h2.tituloHistoria {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 30px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin-bottom: 20px;
                    }
                    h4.textoHistoria {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 20px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                    }
                }
                div.juegosMarvel {
                    display: block;
                    background-color: #ff5858;
                    text-align: center;
                    width: 30rem;
                    border-radius: 5px;
                    margin: 20px;
                    padding: 20px;
                    h2 {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 20px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin-bottom: 20px;
                    }
                    h1.h1Juegos {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 30px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin-bottom: 20px;
                    }
                    h4.textoJuegos {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 18px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin: 5px;
                    }
                    button.comprarJuego{
                        display: inline-block;
                        margin: 10px;
                        padding: 10px;
                        background-color: #ffbebe;
                        border-color: #facaca;
                        a {
                            color: rgb(0, 0, 0);
                            text-decoration: none;
                            font-weight: bold;
                            font-family: 'Lexend Peta', sans-serif;
                            letter-spacing: 4px;
                            text-shadow: $sombraPrincipal;
                            &:hover{
                                background-color: #facaca;
                                border-color: #ff9898;
                            }
                            &:active{
                                padding: 0.2em;
                            }                
                        }
                    }
                    h3.verJuegos a{
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        font-size: 15px;
                        font-weight: bold;
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 4px;
                        text-shadow: $sombraPrincipal;
                    }
                }
                div.comicsMarvel {
                    display: block;
                    background-color: #ff5858;
                    text-align: center;
                    width: 30rem;
                    border-radius: 5px;
                    margin: 20px;
                    padding: 20px;
                    h2.tituloComics {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 25px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin-bottom: 20px;
                    }
                    h4.textoComics {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 18px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin: 10px;
                    }
                    h3.h3Comics a{
                        color: rgb(0, 0, 0);
                        text-decoration: none;
                        font-size: 15px;
                        font-weight: bold;
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 4px;
                        text-shadow: $sombraPrincipal;
                    }
                }
                div.disneyPlus {
                    display: block;
                    background-color: #ff5858;
                    text-align: center;
                    width: 30rem;
                    border-radius: 5px;
                    margin: 20px;
                    padding: 20px;
                    h2 {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 25px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin-bottom: 20px;
                    }
                    h4 a{
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        text-decoration: none;
                        font-size: 18px;
                        color: rgb(0, 0, 0);
                        text-shadow: $sombraPrincipal;
                        margin: 10px;
                    }
                }
                div.sonyPictures {
                    display: block;
                    background-color: #ff5858;
                    text-align: center;
                    width: 30rem;
                    border-radius: 5px;
                    margin: 20px;
                    padding: 20px;
                    h2 {
                        font-family: 'Lexend Peta', sans-serif;
                        letter-spacing: 2px;
                        font-size: 25px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin-bottom: 20px;
                    }
                    h4 a{
                        font-family: 'Lexend Peta', sans-serif;
                        text-decoration: none;
                        letter-spacing: 2px;
                        font-size: 20px;
                        color: #fff;
                        text-shadow: $sombraPrincipal;
                        margin-bottom: 20px;
                    }
                    ul li {
                        list-style-type: none;
                        a {
                            font-family: 'Lexend Peta', sans-serif;
                            display: inline-block;
                            text-decoration: none;
                            letter-spacing: 2px;
                            font-size: 20px;
                            color: rgb(0, 0, 0);
                            text-shadow: $sombraPrincipal;
                            margin: 20px;
                        }
                    }
                }
            }
        }
    }