/* MARVEL MAIN */
/* MARVEL TITLE */
main {
    h1.h1Marvel {
        display: inline-block;
        position: absolute;
        color: white;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
        top: 50px;
        left: 50%;
        margin: 30px;
        padding: 10px;
        font-family: 'Lexend Peta', sans-serif;
        letter-spacing: 5px;
        font-size: 50px;
    }
    div.historiaMarvel {
        display: block;
        position: absolute;
        top: 100px;
        left: 50px;
        right: 60%;
        bottom: 190px;
        background-color: #ff5858;
        padding: 40px;
        text-align: center;
        h2.tituloHistoria {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 30px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin-bottom: 20px;
        }
        h4.textoHistoria {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 20px;
            color: #fff;
            text-shadow: $sombraPrincipal;
        }
    }
    div.juegosMarvel {
        display: block;
        position: absolute;
        top: 150px;
        left: 600px;
        right: 50px;
        background-color: #ff5858;
        padding: 40px;
        text-align: center;
        h2 {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 20px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin-bottom: 20px;
        }
        h1.h1Juegos {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 30px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin-bottom: 20px;
        }
        h4.textoJuegos {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 18px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin: 5px;
        }
        button.comprarJuego{
            display: inline-block;
            margin: 10px;
            padding: 10px;
            background-color: #ffbebe;
            border-color: #facaca;
            a {
                color: rgb(0, 0, 0);
                text-decoration: none;
                font-weight: bold;
                font-family: 'Lexend Peta', sans-serif;
                letter-spacing: 4px;
                text-shadow: $sombraPrincipal;
                &:hover{
                    background-color: #facaca;
                    border-color: #ff9898;
                }
                &:active{
                    padding: 0.2em;
                }                
            }
        }
        h3.verJuegos a{
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 4px;
            text-shadow: $sombraPrincipal;
        }
    }
    div.comicsMarvel {
        display: block;
        position: absolute;
        top: 600px;
        left: 50px;
        right: 800px;
        background-color: #ff5858;
        padding: 40px;
        text-align: center;
        h2.tituloComics {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 25px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin-bottom: 20px;
        }
        h4.textoComics {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 18px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin: 10px;
        }
        h3.h3Comics a{
            color: #fff;
            text-decoration: none;
            font-size: 15px;
            font-weight: bold;
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 4px;
            text-shadow: $sombraPrincipal;
        }
    }
    div.disneyPlus {
        display: block;
        position: absolute;
        top: 1000px;
        left: 50px;
        right: 800px;
        background-color: #ff5858;
        padding: 40px;
        text-align: center;
        h2 {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 25px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin-bottom: 20px;
        }
        h4 a{
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin: 10px;
        }
    }
    div.sonyPictures {
        display: block;
        position: absolute;
        top: 900px;
        left: 600px;
        right: 50px;
        background-color: #ff5858;
        padding: 40px;
        text-align: center;
        h2 {
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 2px;
            font-size: 25px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin-bottom: 20px;
        }
        h4 a{
            font-family: 'Lexend Peta', sans-serif;
            text-decoration: none;
            letter-spacing: 2px;
            font-size: 20px;
            color: #fff;
            text-shadow: $sombraPrincipal;
            margin-bottom: 20px;
        }
        ul li {
            list-style-type: none;
            a {
                font-family: 'Lexend Peta', sans-serif;
                display: inline-block;
                text-decoration: none;
                letter-spacing: 2px;
                font-size: 20px;
                color: #fff;
                text-shadow: $sombraPrincipal;
                margin: 20px;
            }
        }
    }
}