/* PELIS MAIN */
main {
    div {
        h2.tituloPeli {
            display: inline-block;
            position: absolute;
            color: white;
            text-shadow: $sombraTitulos;
            top: 50px;
            left: 50%;
            margin: 30px;
            padding: 10px;
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 5px;
            font-size: 50px;
        }
        h4.subtitulo {
            display: inline-block;
            position: absolute;
            color: white;
            text-shadow: $sombraTitulos;
            top: 150px;
            left: 30%;
            margin: 30px;
            padding: 10px;
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 5px;
            font-size: 30px;
        }
    }
    table {
        display: block;
        position: absolute;
        top: 300px;
        padding: 5px;
        tbody {
            font-size: 15px;
            color: #121212;
            font-family: 'Lexend Peta', sans-serif;
            letter-spacing: 5px;
            text-shadow: $sombraTitulos;
            font-weight: bold;
            text-align: center;
        } 
    } 
}