* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #141429;
}
/* VARIABLES */
$sombraPrincipal: rgb(0, 0, 05);
$sombraTitulos: rgba(255, 255, 255, 07);
/* INDEX */
@import "header.scss";
@import "mainIndex.scss";
@import "footer.scss";
/* END INDEX */
/* PÁGINAS ANEXAS */
/* MARVEL */
@import "marvelMain.scss";
/* END MARVEL */
/* PELICULAS */
@import "peliculasMain.scss";
/* END PELICULAS */
/* CONTACTO */
@import "contactoMain.scss";
/* END CONTACTO */
/* BLOGS */
@import "blogsMain.scss";
/* END BLOGS */
/* MEDIA QUERIES */
/* MOBILE */
@import "mediaQueries.scss";

/* END MOBILE */
/* MAPS */
$hovers: #facaca, #ff9898;
$sombras: $sombraPrincipal, $sombraTitulos;

$buttons: (
    tipo: inline-block,
    centro: center,
    colorBorde: #ff5858,
    colorFondo:#ff9898
);

/* MIXIN */

@mixin iframes {
    display: block;
    text-align: center;
    margin: 10px;
}


