@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #141429; }

/* VARIABLES */
/* INDEX */
/* ESTILOS HEADER */
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff5858;
  color: white; }
  nav .navbar .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex; }
    nav .navbar .navbar-links ul li {
      list-style: none; }
      nav .navbar .navbar-links ul li:active {
        padding: 0.2em; }
      nav .navbar .navbar-links ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 1rem;
        font-weight: bold;
        font-family: 'Lexend Peta', sans-serif;
        letter-spacing: 1rem;
        text-shadow: #000005; }
        nav .navbar .navbar-links ul li a:hover {
          background-color: #facaca;
          border-color: #ff9898; }
        nav .navbar .navbar-links ul li a:active {
          padding: 0.2em; }
  nav .navbar .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px; }
    nav .navbar .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px; }

/* MAPS */
/* MIXIN */
/* MAIN */
main {
  background-image: url("../multimedia/SP-nowayhome.jpg");
  width: 100%;
  height: 800px;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-position: center; }
  main div.container-1 {
    display: inline-block;
    font-family: 'Lexend Peta', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 33.6px;
    font-style: normal;
    letter-spacing: 0;
    margin-top: 60px;
    margin-bottom: 24px;
    color: #fff;
    margin: 15%;
    text-shadow: white; }
    main div.container-1 h4.title1 {
      margin-left: 45px;
      margin-bottom: 15px; }
    main div.container-1 h4.title2 {
      font-size: 90px;
      margin-left: 10px; }
    main div.container-1 h4.title3 {
      margin-left: 55px;
      margin-top: 15px; }
    main div.container-1 h5.textP {
      font-size: 35px;
      margin-top: 10px; }
    main div.container-1 button.watchNow {
      display: inline-block;
      text-align: center;
      border-color: #ff5858;
      background-color: #ff9898; }
    main div.container-1 button.watchNow a {
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Lexend Peta', sans-serif;
      font-size: 17px;
      color: black;
      padding: 10px;
      text-shadow: #000005; }
      main div.container-1 button.watchNow a:hover {
        background-color: #ff6464;
        border-color: #ff9494; }
      main div.container-1 button.watchNow a:active {
        padding: 0.2em; }
  main div.container-2 {
    display: block;
    background-color: #ff5858;
    padding: 10px;
    position: absolute;
    top: 540px;
    left: 200px; }
    main div.container-2 h4.homecoming {
      display: inline-block;
      margin: 10px;
      font-family: 'Lexend Peta', sans-serif;
      font-size: 25px;
      text-align: center;
      color: #fff;
      text-shadow: #000005;
      margin-left: 30%; }
    main div.container-2 iframe.youtube1 {
      display: block;
      text-align: center;
      margin: 10px; }
    main div.container-2 button.verAhora1 {
      display: inline-block;
      text-align: center;
      border-color: #ff5858;
      background-color: #ff9898;
      margin-left: 35%; }
      main div.container-2 button.verAhora1 a {
        text-decoration: none;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 17px;
        color: black;
        padding: 10px;
        text-shadow: #000005; }
        main div.container-2 button.verAhora1 a:hover {
          background-color: #ff6464;
          border-color: #ff9494; }
        main div.container-2 button.verAhora1 a:active {
          padding: 0.2em; }
  main div.container-3 {
    display: block;
    background-color: #ff5858;
    padding: 10px;
    position: absolute;
    top: 540px;
    right: 200px; }
    main div.container-3 h4.farFromHome, main div.container-3 div.container-2 h4.homecoming, main div.container-2 div.container-3 h4.homecoming {
      display: inline-block;
      margin: 10px;
      font-family: 'Roboto Mono', monospace;
      font-size: 25px;
      text-align: center;
      color: #fff;
      text-shadow: #000005;
      margin-left: 25%; }
    main div.container-3 iframe.youtube2 {
      display: block;
      text-align: center;
      margin: 10px; }
    main div.container-3 button.verAhora2 {
      display: inline-block;
      text-align: center;
      border-color: #ff5858;
      background-color: #ff9898;
      margin-left: 35%; }
      main div.container-3 button.verAhora2 a {
        text-decoration: none;
        text-align: center;
        font-family: 'Lexend Peta', sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: black;
        padding: 10px;
        text-shadow: #000005; }
        main div.container-3 button.verAhora2 a:hover {
          background-color: #ff6464;
          border-color: #ff9494; }
        main div.container-3 button.verAhora2 a:active {
          padding: 0.2em; }
  main #carouselExampleSlidesOnly {
    position: absolute;
    top: 1000px;
    width: 100%;
    height: 40%;
    align-content: center; }

/* FOOTER */
footer {
  display: block;
  position: relative;
  top: 2000px;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 200px; }
  footer div nav h4.footerTitle {
    display: inline-block;
    margin-bottom: 10px;
    padding: 30px;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 20px;
    text-align: center; }
  footer div nav ul.socialMedia {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%; }
    footer div nav ul.socialMedia li a {
      text-decoration: none;
      box-shadow: #000005;
      height: 50px;
      width: 50px;
      border-radius: 50%; }

/* END INDEX */
/* PÁGINAS ANEXAS */
/* MARVEL */
/* MARVEL MAIN */
/* MARVEL TITLE */
main h1.h1Marvel {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
  top: 50px;
  left: 50%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 50px; }

main div.historiaMarvel {
  display: block;
  position: absolute;
  top: 100px;
  left: 50px;
  right: 60%;
  bottom: 220px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.historiaMarvel h2.tituloHistoria {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: #fff;
    text-shadow: #000005;
    margin-bottom: 20px; }
  main div.historiaMarvel h4.textoHistoria {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    text-shadow: #000005; }

main div.juegosMarvel {
  display: block;
  position: absolute;
  top: 150px;
  left: 600px;
  right: 50px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.juegosMarvel h2 {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    text-shadow: #000005;
    margin-bottom: 20px; }
  main div.juegosMarvel h1.h1Juegos {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    color: #fff;
    text-shadow: #000005;
    margin-bottom: 20px; }
  main div.juegosMarvel h4.textoJuegos {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fff;
    text-shadow: #000005;
    margin: 5px; }
  main div.juegosMarvel button.comprarJuego {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #ffbebe;
    border-color: #facaca; }
    main div.juegosMarvel button.comprarJuego a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Lexend Peta', sans-serif;
      letter-spacing: 4px;
      text-shadow: #000005; }
      main div.juegosMarvel button.comprarJuego a:hover {
        background-color: #facaca;
        border-color: #ff9898; }
      main div.juegosMarvel button.comprarJuego a:active {
        padding: 0.2em; }
  main div.juegosMarvel h3.verJuegos a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 4px;
    text-shadow: #000005; }

main div.comicsMarvel {
  display: block;
  position: absolute;
  top: 610px;
  left: 50px;
  right: 800px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.comicsMarvel h2.tituloComics {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: #fff;
    text-shadow: #000005;
    margin-bottom: 20px; }
  main div.comicsMarvel h4.textoComics {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fff;
    text-shadow: #000005;
    margin: 10px; }
  main div.comicsMarvel h3.h3Comics a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 4px;
    text-shadow: #000005; }

main div.disneyPlus {
  display: block;
  position: absolute;
  top: 1100px;
  left: 50px;
  right: 800px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.disneyPlus h2 {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: #fff;
    text-shadow: #000005;
    margin-bottom: 20px; }
  main div.disneyPlus h4 a {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    text-shadow: #000005;
    margin: 10px; }

main div.sonyPictures {
  display: block;
  position: absolute;
  top: 900px;
  left: 600px;
  right: 50px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.sonyPictures h2 {
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 2px;
    font-size: 25px;
    color: #fff;
    text-shadow: #000005;
    margin-bottom: 20px; }
  main div.sonyPictures h4 a {
    font-family: 'Lexend Peta', sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    text-shadow: #000005;
    margin-bottom: 20px; }
  main div.sonyPictures ul li {
    list-style-type: none; }
    main div.sonyPictures ul li a {
      font-family: 'Lexend Peta', sans-serif;
      display: inline-block;
      text-decoration: none;
      letter-spacing: 2px;
      font-size: 20px;
      color: #fff;
      text-shadow: #000005;
      margin: 20px; }

/* END MARVEL */
/* PELICULAS */
/* PELIS MAIN */
main div h2.tituloPeli {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 50px;
  left: 50%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 50px; }

main div h4.subtitulo {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 150px;
  left: 30%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 30px; }

main table {
  display: block;
  position: absolute;
  top: 300px;
  padding: 5px; }
  main table tbody {
    font-size: 15px;
    color: #121212;
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 5px;
    text-shadow: white;
    font-weight: bold;
    text-align: center; }

/* END PELICULAS */
/* CONTACTO */
/* CONTACTO MAIN */
main h2.tituloContacto {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 50px;
  left: 35%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 50px; }

main div h3.subtituloContacto-1 {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 130px;
  left: 15%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 20px; }

main div h4.subtituloContacto-2 {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 190px;
  left: 23%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 20px; }

main div form fieldset {
  display: block;
  position: absolute;
  top: 300px;
  left: 150px;
  bottom: -400px;
  right: 150px;
  background-color: #ff5858;
  border-color: #141429; }
  main div form fieldset legend {
    display: inline-block;
    margin: 30px;
    padding: 10px;
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 4px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-shadow: white; }
  main div form fieldset input.nombre {
    display: block;
    position: absolute;
    top: 30px;
    left: 40%;
    text-align: center;
    box-shadow: white;
    width: 300px;
    height: 35px; }
  main div form fieldset input.apellido {
    display: block;
    position: absolute;
    top: 80px;
    left: 40%;
    text-align: center;
    box-shadow: white;
    width: 300px;
    height: 35px; }
  main div form fieldset input.email {
    display: block;
    position: absolute;
    top: 130px;
    left: 40%;
    text-align: center;
    box-shadow: white;
    width: 300px;
    height: 35px; }
  main div form fieldset input.contraseña {
    display: block;
    position: absolute;
    top: 180px;
    left: 40%;
    text-align: center;
    box-shadow: white;
    width: 300px;
    height: 35px; }
  main div form fieldset #elegirPelicula {
    display: block;
    position: absolute;
    top: 230px;
    left: 40%;
    text-align: center;
    background-color: #ffbebe;
    box-shadow: white;
    width: 300px;
    height: 35px; }
  main div form fieldset div.checkbox {
    display: block;
    position: absolute;
    top: 380px;
    left: 50%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-shadow: white; }
  main div form fieldset div.tipoAporte {
    display: block;
    position: absolute;
    top: 330px;
    left: 50%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    font-family: 'Lexend Peta', sans-serif;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-shadow: white; }
  main div form fieldset #img {
    display: block;
    position: absolute;
    top: 280px;
    left: 15%;
    text-align: center;
    width: 300px;
    height: 35px; }
  main div form fieldset #comentario {
    display: block;
    position: absolute;
    top: 330px;
    left: 15%;
    text-align: center; }
  main div form fieldset button.limpiar {
    display: block;
    position: absolute;
    top: 530px;
    left: 55%;
    text-align: center;
    border-color: #ff5858;
    background-color: #ff9898;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-shadow: #000005; }
    main div form fieldset button.limpiar:hover {
      background-color: #ff6464;
      border-color: #ff9494; }
    main div form fieldset button.limpiar:active {
      padding: 0.2em; }
  main div form fieldset button.enviar {
    display: block;
    position: absolute;
    top: 530px;
    left: 70%;
    text-align: center;
    border-color: #ff5858;
    background-color: #ff9898;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-shadow: #000005; }
    main div form fieldset button.enviar:hover {
      background-color: #ff6464;
      border-color: #ff9494; }
    main div form fieldset button.enviar:active {
      padding: 0.2em; }

main div.card {
  position: absolute;
  top: 950px;
  left: 200px; }

/* END CONTACTO */
/* BLOGS */
/* BLOGS MAIN */
main h2.tituloBlogs {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 50px;
  left: 40%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 50px; }

main h2.subtituloBlogs-1 {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 130px;
  left: 10%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 20px; }

main h3.subtituloBlogs-2 {
  display: inline-block;
  position: absolute;
  color: white;
  text-shadow: white;
  top: 190px;
  left: 25%;
  margin: 30px;
  padding: 10px;
  font-family: 'Lexend Peta', sans-serif;
  letter-spacing: 5px;
  font-size: 20px; }

main div.spWiki {
  display: block;
  position: absolute;
  top: 450px;
  left: 200px;
  right: 50%;
  bottom: 0px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.spWiki h4 {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    color: #fff;
    text-shadow: #000005; }
  main div.spWiki button {
    display: block;
    float: right;
    text-align: center;
    border-color: #ff5858;
    background-color: #ff9898;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-shadow: #000005; }
    main div.spWiki button a {
      text-decoration: none;
      color: black;
      padding: 10px;
      text-shadow: #000005; }
      main div.spWiki button a:hover {
        background-color: #ff6464;
        border-color: #ff9494; }
      main div.spWiki button a:active {
        padding: 0.2em; }

main div.spFacebook {
  display: block;
  position: absolute;
  top: 680px;
  left: 700px;
  right: 200px;
  bottom: -200px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.spFacebook h4 {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    color: #fff;
    text-shadow: #000005; }
  main div.spFacebook button {
    display: block;
    float: right;
    text-align: center;
    border-color: #ff5858;
    background-color: #ff9898;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-shadow: #000005; }
    main div.spFacebook button a {
      text-decoration: none;
      color: black;
      padding: 10px;
      text-shadow: #000005; }
      main div.spFacebook button a:hover {
        background-color: #ff6464;
        border-color: #ff9494; }
      main div.spFacebook button a:active {
        padding: 0.2em; }

main div.superHeroes {
  display: block;
  position: absolute;
  top: 900px;
  left: 200px;
  bottom: -500px;
  right: 50%;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.superHeroes h4 {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    color: #fff;
    text-shadow: #000005; }
  main div.superHeroes button {
    display: block;
    float: right;
    text-align: center;
    border-color: #ff5858;
    background-color: #ff9898;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-shadow: #000005; }
    main div.superHeroes button a {
      text-decoration: none;
      color: black;
      padding: 10px;
      text-shadow: #000005; }
      main div.superHeroes button a:hover {
        background-color: #ff6464;
        border-color: #ff9494; }
      main div.superHeroes button a:active {
        padding: 0.2em; }

main div.enTumblr {
  display: block;
  position: absolute;
  top: 1200px;
  left: 700px;
  right: 200px;
  bottom: -800px;
  background-color: #ff5858;
  padding: 40px;
  text-align: center; }
  main div.enTumblr h4 {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-family: 'Lexend Peta', sans-serif;
    color: #fff;
    text-shadow: #000005; }
  main div.enTumblr button {
    display: block;
    float: right;
    text-align: center;
    border-color: #ff5858;
    background-color: #ff9898;
    font-family: 'Lexend Peta', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 10px;
    text-shadow: #000005; }
    main div.enTumblr button a {
      text-decoration: none;
      color: black;
      padding: 10px;
      text-shadow: #000005; }
      main div.enTumblr button a:hover {
        background-color: #ff6464;
        border-color: #ff9494; }
      main div.enTumblr button a:active {
        padding: 0.2em; }

/* END BLOGS */
/* MEDIA QUERIES */
/* MOBILE */
/* MEDIA QUERIES */
@media (max-width: 400px) {
  .toggle-button {
    display: flex; }
  .navbar {
    flex-direction: column;
    align-items: flex-start; }
    .navbar .navbar-links {
      /* display: none; */
      width: 100%; }
      .navbar .navbar-links ul {
        width: 100%;
        flex-direction: column; }
        .navbar .navbar-links ul li {
          text-align: center; }
          .navbar .navbar-links ul li a {
            padding: .5rem 1rem; }
            .navbar .navbar-links ul li a .active {
              display: flex; } }

/* END MOBILE */
/* MAPS */
/* MIXIN */
